Repository IshaaqhShaik/JAN_WEB_DEV, pull requests merged in 2024-01, with the labels that each got.

#8 Title
  Day1/CheatSheet/Git.config
  Day1/CheatSheet/Images
  Day2/CheetSheet/CheatSheet
  Day2/Presentation2/Presentation
  Day2/Task/farooq.txt
  Day2/Task/haseeb.txt
  Day2/Task/saddam.txt
  Day2/Task/task.txt
Labels: enhancement

#12 deleted the files in Day2
  Day2/CheetSheet/CheatSheet
  Day2/Presentation2/Presentation
Labels: enhancement

#11 added text from saddam in task of day2
  Day2/Task/task.txt
Labels: enhancement

#16 Day3 folders and files has been created
  Day3/CheatSheet/cheatsheet.txt
  Day3/Presentation/Day-3-ppt.pdf
  Day3/Task/farooq_task.txt
  Day3/Task/haseeb_task.txt
  Day3/Task/saddam_task.txt
Labels: enhancement

#15 added more details in task
  Day2/Task/task.txt
Labels: Task

#17 Day 3 haseeb dev
  Day3/Task/haseeb_task.txt
Labels: Task

#19 added cheatsheet in day-2-haseeb-debv-2
  Day2/CheatSheet/cheatsheet.txt
Labels: Presenter

#20 Day3 Task and Cheetsheet
  Day3/CheatSheet/cheatsheet.txt
  Day3/Task/farooq_task.txt
Labels: enhancement

#21 added day4 files and folders
  Day4/Cheatsheet/cheatsheet.txt
  Day4/Presentation/git-revert-and-git-reset.pdf
  Day4/Task/farooq_task.txt
  Day4/Task/haseeb_task.txt
  Day4/Task/saddam_task.txt
Labels: documentation

#23 created module-2 and added task,cheatsheet and ppt
  Module-2/Day-1/CheatSheet/cheatsheet.txt
  Module-2/Day-1/Presentation/JS.pdf
  Module-2/Day-1/Task/farooq_task.txt
  Module-2/Day-1/Task/haseeb_task.txt
  Module-2/Day-1/Task/saddam_task.txt
Labels: Presenter

#25 added html task file and deleted .txt file
  Module-2/Day-1/Task/Haseeb/haseeb_task.html
  Module-2/Day-1/Task/haseeb_task.txt
Labels: Task

#29 Added day2 presenter files
  Module-2/Day-2/Cheatsheet/cheatsheet.txt
  Module-2/Day-2/Presentation/operators_in_js.pdf
  Module-2/Day-2/Task/Arshad/Index.html
  Module-2/Day-2/Task/Farooq/Index.html
  Module-2/Day-2/Task/Haseeb/Index.html
  Module-2/Day-2/Task/Saddam/Index.html
Labels: Presenter

#30 task is added in the Farooq folder/index.html
  Module-2/Day-2/Task/Farooq/Index.html
Labels: Task

#31 added task
  Module-2/Day-2/Task/Haseeb/Index.html
Labels: Task

#34 added day3 files and folders for module2
  Module-2/Day-3/Cheatsheet/Cheatsheet.txt
  Module-2/Day-3/Presentation/Conditionals and Logic flow control_p.pdf
  Module-2/Day-3/Task/Arshad/index.html
  Module-2/Day-3/Task/Farooq/index.html
  Module-2/Day-3/Task/Haseeb/index.html
  Module-2/Day-3/Task/Saddam/index.html
Labels: Presenter

#38 task is added in the Task folder
  Module-2/Day-3/Task/Farooq/index.html
Labels: Task

#39 Task completed
  Module-2/Day-3/Task/Haseeb/index.html
Labels: Task

#36 Module 2 day 1 farooq task
  Module-2/Day-1/Task/Farooq/index.html
  Module-2/Day-1/Task/farooq_task.txt
Labels: Task, Changes Requested

#22 added topics in readme for git theory
  README.md
Labels: Task

#26 Module 2 day 1 saddam dev
  Day4/Task/saddam_task.txt
  Module-2/Day-1/Task/Saddam/saddam_task.html
  Module-2/Day-1/Task/saddam_task.txt
Labels: Task

#32 added day2 html task file for module-2
  Module-2/Day-2/Task/Saddam/Index.html
Labels: Task

#41 added day4 task file
  Day4/Task/saddam_task.txt
Labels: documentation

#44 Module2 day 4 haseeb dev
  Module-2/Day-4/Task/Haseeb/index.html
  Module-2/Day-4/Task/Haseeb/task_1.html
  Module-2/Day-4/Task/Haseeb/task_2.html
  Module-2/Day-4/Task/Haseeb/task_3.html
Labels: Task

#45 Module 2 day 4 saddam dev
  Module-2/Day-4/Task/Saddam/Index.html
  Module-2/Day-4/Task/Saddam/Task_1.html
  Module-2/Day-4/Task/Saddam/Task_2.html
  Module-2/Day-4/Task/Saddam/Task_3.html
Labels: Task

#48 created html file and updates ppt file
  Module-2/Day-5/CheatSheet/cheatsheet.txt
  Module-2/Day-5/Presentation/Function.pdf
  Module-2/Day-5/Task/Arshad/index.html
  Module-2/Day-5/Task/Farooq/index.html
  Module-2/Day-5/Task/Haseeb/index.html
  Module-2/Day-5/Task/Saddam/index.html
Labels: Presenter

#54 Module 2 day 6 cheatsheet
  Module-2/Day-5/CheatSheet/cheatsheet.txt
  Module-2/Day-5/Task/Saddam/index.html
Labels: documentation

#46 Module2 day 4 task1
  Module-2/Day-4/Task/Farooq/index.html
  Module-2/Day-4/Task/Farooq/task1.html
  Module-2/Day-4/Task/Farooq/task2.html
  Module-2/Day-4/Task/Farooq/task3.html
Labels: Task

#47 added cheatsheet for module2-day-4
  Module-2/Day-4/CheatSheet/Cheatsheet.txt
Labels: documentation, Task

#49 added cheatsheet
  Module-2/Day-5/CheatSheet/cheatsheet.txt
Labels: Sub_Presenter

#52 Module2 day 5 farooq task
  Module-2/Day-5/Task/Farooq/task1.html
  Module-2/Day-5/Task/Farooq/task2.html
Labels: Task

#56 added task1 html file and folder for module-2-day-6 saddam
  Module-2/Day-6/Task/Saddam/index.html
Labels: Task

#57 Module 2 day 6 haseeb dev
  Module-2/Day-6/Task/Haseeb/index.html
  Module-2/Day-6/Task/Haseeb/index_Tasl_2.html
  Module-2/Day-6/Task/Haseeb/index_test.html
Labels: Task

#58 Module 2 assessment
  Module-2/Day-6/Task/Saddam/assessment.html
  Module-2/Day-6/Task/Saddam/assessment2.html
Labels: Task

#59 Update README.md
  README.md
Labels: documentation
